@font-face {
    src: url("./Resources/Fonts/Marta_italic.otf") format('truetype');
}

html {
    padding: 0;
    margin: 0;
    font-family: Marta;
    color: #21190E;
}

body {
    padding: 0;
    margin: auto;
    background-color: #21190E;
}

header {
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
    margin: auto;
    width: 75vw;
    background-color: #F0E5D5;
}

footer {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.contacts {
    margin: auto;
    padding: 0 12.5% 0 12.5%;
    display: grid;
    background-color: #D7C1A2;
    grid-template-columns: max-content 1fr;
    align-items: center;
    font-size: 15px;
    width: 75%;
}


.contacts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.contacts-item {
    margin: 0;
    padding: 28px 10px 28px 10px;
    height: 17px;
    background-color: #D7C1A2;
    transition: 100ms ease-in-out;
}

    .contacts-item:hover {
        text-decoration: underline;
        color: #7A5947;
    }

.navigation {
    margin: auto;
    padding: 0 12.5% 0 12.5%;
    display: grid;
    background-color: #628395;
    align-items: center;
    font-size: 15px;
    width: 75%;
}

.navigation-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
}

.navigation-item {
    margin: 0;
    padding: 28px 10px 28px 10px;
    height: 17px;
    background-color: #628395;
    color: #F0E5D5;
    transition: 100ms ease-in-out;
}

    .navigation-item:hover {
        color: #D7C1A2;
    }

a {
    color: #21190E;
    text-decoration: none;
}

.logo {
    text-align: center;
    text-decoration: none;
    display: flex;
    grid-template-columns: 1fr;
}

h1 {
    /*    font-size: 5vh;*/
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    width: 75vw;
}

h2 {
    font-size: 24px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 18px;
/*    color: #F0E5D5;*/
}

p {
    font-size: 14px;
    color: #F0E5D5;
}

.thumbnail {
    margin: 0;
    padding: 0;
}

.thumbnail-text {
    font-style: italic;
    color: #21190E;
    margin: 0 auto 0 auto;
    padding: 35px 0 35px 0;
}

.container {
    padding: 25px 0 0 0;
    margin: 0 auto 0 auto;
    width: 75vw;
}

.block-list {
    display: grid;
    margin: 0 auto 0 auto;
    padding: 10px;
}

.block-item-dark {
    background-color: #21190E;
    margin: 0px;
    padding: 25px;
    color: #F0E5D5;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.block-item-light {
    background-color: #F0E5D5;
    color: #21190E;
    margin: 0;
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    vertical-align: middle;
}

.adjest {
    margin: 0 auto 0 auto;
    padding: 0 0 15px 0;
    width: max-content;
    transition: 100ms ease-in-out;
    align-items: center;
    justify-content: center;
}

.more-button {
    color: #7A5947;
    margin: 20px auto 0 auto;
    padding: 0 0 15px 0;
    width: max-content;
    transition: 100ms ease-in-out;
    align-items: center;
    justify-content: center;
}

    .more-button:hover {
        color: #628395;
        text-decoration: underline;
    }

.scheme {
    margin: 0 auto 15px auto;
}

.side-articles {
    background-color: #D7C1A2;
    color: #21190E;
    transition: 100ms ease-in-out;
}

    .side-articles:hover {
        background-color: #21190E;
        color: #F0E5D5;
    }

.end-of-the-world {
    height: 73px;
}

.up-button {
    padding: 9px 0 0 7px;
}

.credits-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #F0E5D5;
    width: 75vw;
    align-items: center;
    justify-content: center;
}

.credits-item {
    margin: auto;
    text-align: center;
    color: #F0E5D5;
}

.politics {
    color: #F0E5D5;
}

    .politics:hover {
        transition: 100ms ease-in-out;
        text-decoration: underline;
        color: #7A5947;
    }
