@font-face {
    src: url("./Resources/Fonts/Marta_italic.otf") format('truetype');
}

html {
    padding: 0;
    margin: 0;
    font-family: Marta;
    color: #21190E;
}

body {
    padding: 0;
    margin: auto;
    background-color: #21190E;
}

header {
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
    margin: auto;
    width: 75vw;
    background-color: #F0E5D5;
}

footer {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.contacts {
    margin: auto;
    padding: 0 12.5% 0 12.5%;
    display: grid;
    background-color: #D7C1A2;
    grid-template-columns: max-content 1fr;
    align-items: center;
    font-size: 15px;
    width: 75%;
}


.contacts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.contacts-item {
    margin: 0;
    padding: 28px 10px 28px 10px;
    height: 17px;
    background-color: #D7C1A2;
    transition: 100ms ease-in-out;
}

    .contacts-item:hover {
        text-decoration: underline;
        color: #7A5947;
    }

.navigation {
    margin: auto;
    padding: 0 12.5% 0 12.5%;
    display: grid;
    background-color: #628395;
    align-items: center;
    font-size: 15px;
    width: 75%;
}

.navigation-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
}

.navigation-item {
    margin: 0;
    padding: 28px 10px 28px 10px;
    height: 17px;
    background-color: #628395;
    color: #F0E5D5;
    transition: 100ms ease-in-out;
}

    .navigation-item:hover {
        color: #D7C1A2;
    }

a {
    color: black;
    text-decoration: none;
}

.logo {
    text-align: center;
    text-decoration: none;
    display: flex;
    grid-template-columns: 1fr;
}

h1 {
    /*    font-size: 5vh;*/
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    width: 75vw;
}

h2 {
    font-size: 24px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 18px;
}

p {
    font-size: 14px;
}

.thumbnail {
    margin: 0;
    padding: 0;
}

.thumbnail-text {
    font-style: italic;
    color: #21190E;
    margin: 0 auto 0 auto;
    padding: 35px 0 35px 0;
}

.container {
    padding: 50px 0 25px 0;
    margin: 0 auto 0 auto;
    width: 75vw;
}

.block-list {
    display: grid;
}

.block-item {
    background-color: #21190E;
    color: #F0E5D5;
    margin: 50px;
    padding: 25px;
}

img {
    vertical-align: middle;
}
